# Environment Mapping Node
NODE_ENV=development
PORT=3000

# Prisma Neon DB Connections
DATABASE_URL="postgresql://user:pass@ep-rest-of-url.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:pass@ep-rest-of-url.neon.tech/neondb?sslmode=require"

# Authorization Configuration
JWT_SECRET="generate_a_random_secure_long_hex_key_here"
JWT_EXPIRES_IN="7d"
